In [1]:
from ClustersFeatures import *
from sklearn.datasets import load_digits
import pandas as pd
digits = load_digits()
pd_df=pd.DataFrame(digits.data)
pd_df['target'] = digits.target
pd_df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8

In [2]:
CC=ClustersCharacteristics(pd_df,"target")

            Distance  Same Cluster ?
0    1     59.556696           False
     2     54.129474           False
     10    41.629317            True
     11    23.706539           False
     12    54.653454           False
...              ...             ...
1780 1783  33.000000            True
     1793  45.934736           False
1782 1783  53.935146            True
     1793  59.076222           False
1783 1793  57.567352           False

[143916 rows x 2 columns]

In [4]:
qsd

NameError: name 'qsd' is not defined

In [ ]:
qsdqsdqsd

In [ ]:
CC=ClustersCharacteristics(pd_df, "target")

In [ ]:
CC.graph_reduction_density_3D(95)

In [ ]:
CC.graph_reduction_density_2D("UMAP", 99, "interactive")

In [ ]:
CC.graph_reduction_density_2D("UMAP", 99, "contour")

In [ ]:
CC.graph_reduction_2D("PCA")

In [ ]:
CC.graph_boxplots_distances_to_centroid(2)

In [ ]:
CC.graph_PCA_3D()

In [ ]:
CC.density_projection_3D(99, return_clusters_density=True)

In [ ]:
___

In [ ]:
from sklearn.datasets import make_blobs

from sklearn.preprocessing import StandardScaler

import seaborn as sns
import pandas as pd
X, y = make_blobs(n_samples=200, centers=2, n_features=3,cluster_std=0.5)
X=StandardScaler().fit_transform(X)
T=pd.DataFrame(data=X)
T['target']=y
CC2=ClustersCharacteristics(T,"target")

In [ ]:

    
CC.data_interelement_distance_for_clusters()

In [ ]:
pd_df.mean()