In [1]:
from ClustersFeatures import *

In [2]:
from sklearn.datasets import load_digits
import pandas as pd
digits = load_digits()
pd_df=pd.DataFrame(digits.data)
pd_df['target'] = digits.target
pd_df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8

In [3]:
CC=ClustersCharacteristics(pd_df, "target")

In [4]:
CC.confusion_hypersphere_matrix(radius=35,counting_type='including',proportion=True)

,C:0,C:1,C:2,C:3,C:4,C:5,C:6,C:7,C:8,C:9
H:0,0.994382,0.000000,0.000000,0.010929,0.000000,0.032967,0.060773,0.000000,0.005747,0.211111
H:1,0.000000,0.736264,0.090395,0.103825,0.187845,0.016484,0.110497,0.055866,0.574713,0.022222
H:2,0.000000,0.142857,0.881356,0.355191,0.000000,0.005495,0.000000,0.000000,0.310345,0.000000
H:3,0.000000,0.005495,0.225989,0.950820,0.000000,0.258242,0.000000,0.016760,0.327586,0.666667
H:4,0.050562,0.032967,0.000000,0.000000,0.928177,0.027473,0.154696,0.027933,0.028736,0.000000
H:5,0.095506,0.000000,0.000000,0.103825,0.005525,0.950549,0.022099,0.005587,0.293103,0.133333
H:6,0.089888,0.027473,0.000000,0.000000,0.033149,0.021978,0.983425,0.000000,0.068966,0.000000
H:7,0.000000,0.071429,0.028249,0.071038,0.060773,0.005495,0.000000,0.882682,0.201149,0.055556
H:8,0.044944,0.423077,0.293785,0.431694,0.011050,0.170330,0.110497,0.184358,0.977011,0.394444
H:9,0.421348,0.000000,0.005650,0.759563,0.000000,0.351648,0.000000,0.000000,0.356322,0.872222

In [6]:
CC.utils_UMAP

           PCA0       PCA1       PCA2       PCA3       PCA4
0     -1.259466  21.274883  -9.463055  13.014188  -7.128838
1      7.957612 -20.768699   4.439506 -14.893657   5.896366
2      6.991923  -9.955987   2.958558 -12.288304 -18.126160
3    -15.906105   3.332464   9.824372 -12.275839   6.965226
4     23.306868   4.269061  -5.675128 -13.851508  -0.357977
...         ...        ...        ...        ...        ...
1792 -14.606628  13.344125 -13.439048  -6.502943   3.787504
1793   6.464574  20.567299  -9.155110  12.554089  -9.015963
1794  10.801284  -6.960252   5.599554  -7.227723  -3.459650
1795  -4.872100  12.423954 -10.170866  -6.668841   3.569081
1796  -0.344390   6.365549  10.773708  -7.726214  -3.310676

[1797 rows x 5 columns]

In [ ]:
CC.score_index_info('max')

In [ ]:
CC.score_index_info('min')

In [ ]:
CC.score_index_info('max diff')

In [ ]:
CC.score_index_info('min diff')

In [ ]:
["numba", "numpy","pandas","plotly", "scikit-learn", "scipy", "umap-learn>=0.5.1", "statsmodels"].pop()

In [ ]:
np.pop()