In [2]:
!pip install -i https://test.pypi.org/simple/ Clusters-Features

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: Clusters-Features in c:\users\le2fi\appdata\local\programs\python\python39\lib\site-packages (1.0.0)

WARNING: You are using pip version 21.1.3; however, version 21.2.1 is available.
You should consider upgrading via the 'c:\users\le2fi\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
from sklearn.datasets import load_digits
import pandas as pd
digits = load_digits()
pd_df=pd.DataFrame(digits.data)
pd_df['target'] = digits.target
pd_df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8

In [4]:
CC=ClustersCharacteristics(pd_df, "target")

NameError: name 'ClustersCharacteristics' is not defined

In [ ]:
CC.confusion_hypersphere_matrix(radius=35,counting_type='including',proportion=True)

In [11]:
CC.score_index_info('max')

                        General Informations
Ball Hall Index                   695.801129
Calinski-Harabasz Index           144.190279
Dunn Index                          0.258976
PBM Index                          34.224177
Ratkowsky-Lance Index                    NaN
Silhouette Index                    0.162943
Wemmert-Gançarski Index             0.250224
(1, 1)                              0.258976
(1, 2)                              0.907614
(1, 3)                              0.315850
(2, 1)                              0.874361
(2, 2)                              3.064308
(2, 3)                              1.066381
(3, 1)                              0.579069
(3, 2)                              2.029422
(3, 3)                              0.706240
(4, 1)                              0.287558
(4, 2)                              1.007784
(4, 3)                              0.350710
(5, 1)                              0.285157
(5, 2)                              0.999368
(5, 3)                              0.347781
(6, 1)                              0.603307
(6, 2)                              2.114365
(6, 3)                              0.735800

In [12]:
CC.score_index_info('min')

                      General Informations
Banfeld-Raftery Index         11718.207536
C Index                           0.147642
Ray-Turi Index                    1.585782
Xie-Beni Index                    1.955131
Davies Bouldin Index              2.151710

In [7]:
CC.score_index_info('max diff')

                General Informations
Trace WiB Index                  NaN

In [8]:
CC.score_index_info('min diff')

                     General Informations
Det Ratio Index                       NaN
Log BGSS/WGSS Index             -0.319935
SD Index             [0.627482, 0.070384]
S_Dbw Index                           NaN

In [9]:
CC.data_centroids

target,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.022472,0.010989,0.932203,0.644809,0.000000,0.967033,0.000000,0.167598,0.143678,0.144444
2,4.185393,2.456044,9.666667,8.387978,0.453039,9.983516,1.138122,5.100559,5.022989,5.683333
3,13.095506,9.208791,14.186441,14.169399,7.055249,13.038462,11.165746,13.061453,11.603448,11.833333
4,11.297753,10.406593,9.627119,14.224044,11.497238,13.895604,9.585635,14.245810,12.402299,11.255556
...,...,...,...,...,...,...,...,...,...,...
59,13.561798,9.137363,13.966102,14.650273,7.812155,14.736264,10.685083,11.659218,12.695402,12.044444
60,13.325843,13.027473,13.118644,13.972678,11.812155,9.362637,15.093923,2.206704,13.011494,13.144444
61,5.438202,8.576923,11.796610,8.672131,1.955801,2.532967,13.044199,0.011173,6.735632,8.894444
62,0.275281,3.049451,8.022599,1.409836,0.000000,0.197802,4.480663,0.000000,1.206897,2.094444
63,0.000000,1.494505,1.932203,0.065574,0.000000,0.000000,0.093923,0.000000,0.011494,0.055556

In [10]:
CC.data_every_cluster_element_distance_to_centroids

{0: 0      14.013361
 10     19.720608
 20     19.137090
 30     21.388412
 36     19.283605
           ...
 1739   18.091624
 1745   19.299622
 1746   18.396480
 1768   24.722348
 1793   20.429465
 Name: 0, Length: 178, dtype: float64,
 1: 1      19.017525
 11     29.340485
 21     29.926215
 42     27.324792
 47     26.041098
           ...
 1752   22.998478
 1757   26.761591
 1760   22.013639
 1766   24.926844
 1774   25.908255
 Name: 1, Length: 182, dtype: float64,
 2: 2      37.375370
 12     27.955225
 22     18.014831
 50     35.287723
 51     40.710050
           ...
 1744   22.068658
 1751   22.441077
 1780   19.522917
 1782   21.069101
 1783   25.302190
 Name: 2, Length: 177, dtype: float64,
 3: 3      22.386098
 13     16.305509
 23     27.238187
 45     20.209307
 59     21.245783
           ...
 1750   28.238363
 1756   22.330496
 1758   23.520848
 1765   36.034527
 1770   20.777923
 Name: 3, Length: 183, dtype: float64,
 4: 4      28.340976
 14     21.572335
 24     29.670956
 41     17.457633
 64     22.686206
           ...
 1767   27.421024
 1777   26.523957
 1778   29.727508
 1788   24.926209
 1791   19.072727
 Name: 4, Length: 181, dtype: float64,
 5: 5      39.543609
 15     25.446222
 25     25.950805
 32     21.438240
 33     28.045378
           ...
 1741   31.955400
 1769   26.902843
 1776   26.698650
 1784   28.695719
 1787   28.832489
 Name: 5, Length: 182, dtype: float64,
 6: 6      22.017400
 16     29.868740
 26     26.306799
 34     22.569675
 58     18.895998
           ...
 1749   21.540740
 1755   23.057415
 1762   21.970174
 1771   27.684253
 1773   15.836811
 Name: 6, Length: 181, dtype: float64,
 7: 7      26.550397
 17     23.614138
 27     34.611033
 43     26.687444
 44     22.824852
           ...
 1753   29.686097
 1761   17.819286
 1775   25.876622
 1779   24.550407
 1785   26.005513
 Name: 7, Length: 179, dtype: float64,
 8: 8      24.882755
 18     29.537270
 28     25.303259
 38     30.293996
 40     20.327824
           ...
 1781   29.399777
 1789   30.636763
 1790   27.442977
 1794   25.598846
 1796   28.071988
 Name: 8, Length: 174, dtype: float64,
 9: 9      31.077677
 19     33.549960
 29     29.607241
 31     32.817506
 37     33.609520
           ...
 1759   20.496066
 1772   24.457897
 1786   25.681377
 1792   16.959423
 1795   25.207579
 Name: 9, Length: 180, dtype: float64}

In [1]:
import configparser

In [33]:
config = configparser.ConfigParser()
config.read("version.ini")

['version.ini']

In [40]:
config['VERSION']['Value']

'1.0.0'