In [1]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\le2fi\appdata\local\programs\python\python39\lib\site-packages (0.12.2)
Requirement already satisfied: scipy>=1.1 in c:\users\le2fi\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.6.2)
Requirement already satisfied: patsy>=0.5 in c:\users\le2fi\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: numpy>=1.15 in c:\users\le2fi\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.19.5)
Requirement already satisfied: pandas>=0.21 in c:\users\le2fi\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.2.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\le2fi\appdata\roaming\python\python39\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\le2fi\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.21->statsmodels) (2021.1)
Requirement already satisfied: six in c:\users\le2fi\appdata\roaming\python\python39\site-packages (from patsy>=0.5->statsmodels) (1.15.0)

WARNING: You are using pip version 21.1.3; however, version 21.2.1 is available.
You should consider upgrading via the 'c:\users\le2fi\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
from ClustersFeatures import *

In [3]:
from sklearn.datasets import load_digits
import pandas as pd
digits = load_digits()
pd_df=pd.DataFrame(digits.data)
pd_df['target'] = digits.target
pd_df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8

In [4]:
CC=ClustersCharacteristics(pd_df, "target")

In [5]:
CC.confusion_hypersphere_matrix(radius=35,counting_type='including',proportion=True)

,C:0,C:1,C:2,C:3,C:4,C:5,C:6,C:7,C:8,C:9
H:0,0.994382,0.000000,0.000000,0.010929,0.000000,0.032967,0.060773,0.000000,0.005747,0.211111
H:1,0.000000,0.736264,0.090395,0.103825,0.187845,0.016484,0.110497,0.055866,0.574713,0.022222
H:2,0.000000,0.142857,0.881356,0.355191,0.000000,0.005495,0.000000,0.000000,0.310345,0.000000
H:3,0.000000,0.005495,0.225989,0.950820,0.000000,0.258242,0.000000,0.016760,0.327586,0.666667
H:4,0.050562,0.032967,0.000000,0.000000,0.928177,0.027473,0.154696,0.027933,0.028736,0.000000
H:5,0.095506,0.000000,0.000000,0.103825,0.005525,0.950549,0.022099,0.005587,0.293103,0.133333
H:6,0.089888,0.027473,0.000000,0.000000,0.033149,0.021978,0.983425,0.000000,0.068966,0.000000
H:7,0.000000,0.071429,0.028249,0.071038,0.060773,0.005495,0.000000,0.882682,0.201149,0.055556
H:8,0.044944,0.423077,0.293785,0.431694,0.011050,0.170330,0.110497,0.184358,0.977011,0.394444
H:9,0.421348,0.000000,0.005650,0.759563,0.000000,0.351648,0.000000,0.000000,0.356322,0.872222

In [11]:
CC.utils_UMAP()

NameError: name 'settings' is not defined

In [7]:
CC.score_index_info('max')

                        General Informations
Ball Hall Index                   695.801129
Calinski-Harabasz Index           144.190279
Dunn Index                          0.258976
PBM Index                          34.224177
Ratkowsky-Lance Index                    NaN
Silhouette Index                    0.162943
Wemmert-Gançarski Index             0.250224
(1, 1)                              0.258976
(1, 2)                              0.907614
(1, 3)                               0.31585
(2, 1)                              0.874361
(2, 2)                              3.064308
(2, 3)                              1.066381
(3, 1)                              0.579069
(3, 2)                              2.029422
(3, 3)                               0.70624
(4, 1)                              0.287558
(4, 2)                              1.007784
(4, 3)                               0.35071
(5, 1)                              0.285157
(5, 2)                              0.999368
(5, 3)                              0.347781
(6, 1)                              0.603307
(6, 2)                              2.114365
(6, 3)                                0.7358

In [8]:
CC.score_index_info('min')

                      General Informations
Banfeld-Raftery Index         11718.207536
C Index                           0.147642
Ray-Turi Index                    1.585782
Xie-Beni Index                    1.955131
Davies Bouldin Index               2.15171

In [9]:
CC.score_index_info('max diff')

                General Informations
Trace WiB Index                  NaN

In [10]:
CC.score_index_info('min diff')

                     General Informations
Det Ratio Index                       NaN
Log BGSS/WGSS Index             -0.319935
SD Index             [0.627482, 0.070384]
S_Dbw Index                           NaN